*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#d65b57;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    border-radius:12px;
    text-align:center;
    width:400px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

h1{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-bottom:15px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:5px;
    background:#007bff;
    color:white;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#0056b3;
}

#imgBox{
    margin-top:20px;
}

#qrImage{
    max-width:250px;
    display:none;
}